.board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
  
  .square {
    box-sizing: border-box;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }
  
  .square:hover {
    background-color: #eee;
  }
  